 body {
            font-family: 'Inter', sans-serif;
            background-color: #f8f9fa;
        }
<<<<<<< HEAD

=======
>>>>>>> 79e6088d63f9f2d48695ab8ab6747a014022c71c
        .navbar {
            background-color: #ffffff;
            border-bottom: 1px solid #ececec;
            padding: 0.8rem 1rem;
        }

        .navbar-brand {
            font-weight: 700;
            color: #000;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        /* Couleur verte spécifique de AdMarket */
        .brand-icon {
            color: #00b67a; 
        }

        .nav-link {
            color: #000 !important;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 0.85rem;
            margin-right: 15px;
        }

        /* Bouton POST ADS */
        .btn-post-ads {
            background-color: #00b67a !important;
            color: white !important;
            border: none !important;
            padding: 8px 20px;
            border-radius: 8px;
            font-weight: 600;
            font-size: 0.85rem;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .btn-post-ads:hover {
            background-color: #009e69 !important;
            color: white !important;
        }

        .login-link {
            font-weight: 600;
            color: #000 !important;
            display: flex;
            align-items: center;
            gap: 5px;
            text-decoration: none;
            font-size: 0.85rem;
            margin-left: 15px;
        }
<<<<<<< HEAD
=======

        
>>>>>>> 79e6088d63f9f2d48695ab8ab6747a014022c71c
